.pv_title {
    border-bottom: 1px solid #ddd;
    display: block;
    font-weight: bold;
    padding: 5px 0 6px;
    text-align: center;
}
.pv_desc {
    display: block;
    font-style: italic;
    padding: 5px 0;
}
.insert_video_code > input, .insert_video_code > textarea, .upload_video_code > input {
    width: 100%;
}
.upload_video_code {
    border-top: 1px solid #ddd;
    margin: 10px 0 0;
    overflow: hidden;
}
.upload_video_code > label {
    float: left;
    text-indent: -999px;
}
