/*
* Menu Animations
* 
* @package Forzr
* @subpackage CSS
*
*/
.fr-menu ul li{
  -webkit-transform-origin: 0% 0%;
     -moz-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
       -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;

  -webkit-transform: skewY(30deg);
     -moz-transform: skewY(30deg);
      -ms-transform: skewY(30deg);
       -o-transform: skewY(30deg);
          transform: skewY(30deg);
}
.fr-menu li:hover > ul > li , .fr-menu li:focus > ul > li{
  -webkit-transform: skewY(0deg);
     -moz-transform: skewY(0deg);
      -ms-transform: skewY(0deg);
       -o-transform: skewY(0deg);
          transform: skewY(0deg);
}
.fr-menu > li {
  -webkit-perspective: 600px;
     -moz-perspective: 600px;
      -ms-perspective: 600px;
       -o-perspective: 600px;
          perspective: 600px;

  -webkit-perspective-origin: 0% 0%;
     -moz-perspective-origin: 0% 0%;
      -ms-perspective-origin: 0% 0%;
       -o-perspective-origin: 0% 0%;
          perspective-origin: 0% 0%;
}