/*
* Menu Animations
* 
* @package Forzr
* @subpackage CSS
*
*/
.fr-menu ul li{
  -webkit-transform: rotateX(90deg);
     -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
       -o-transform: rotateX(90deg);
          transform: rotateX(90deg);

  -webkit-transform-origin: 0 0;
     -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
       -o-transform-origin: 0 0;
          transform-origin: 0 0;

  -webkit-transition-timing-function: cubic-bezier(0, .35, .5, 1.7);
     -moz-transition-timing-function: cubic-bezier(0, .35, .5, 1.7);
      -ms-transition-timing-function: cubic-bezier(0, .35, .5, 1.7);
       -o-transition-timing-function: cubic-bezier(0, .35, .5, 1.7);
          transition-timing-function: cubic-bezier(0, .35, .5, 1.7);
}
.fr-menu li:hover > ul > li , .fr-menu li:focus > ul > li{
  -webkit-transform: rotateX(0deg);
     -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
       -o-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.fr-menu > li {
  -webkit-perspective: 400px;
     -moz-perspective: 400px;
      -ms-perspective: 400px;
       -o-perspective: 400px;
          perspective: 400px;
}